*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;

}



.title{
    font-size: 40px;
    color:#45415e;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

header{
    width: 100%;
    height: 650px;

    background: #1c92d2de;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsl(190, 86%, 97%, 0.1), hsla(201, 65%, 62%, 0.747)), url(../imgenes/Toroyoj.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsl(190, 86%, 97%, 0.1), hsla(201deg 43% 52% / 55%)), url(../imgenes/Toroyoj.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: auto;
    background-attachment: fixed;
    position: relative;

}
nav{
    text-align: right;
    padding: 40px 50px 0 0;

}
nav>a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;


}
nav>a:hover{
    text-decoration: underline;

}

#wave{
    width: 100%;
    bottom: 0;
    position:absolute;
    height: 260px;
    

}

.text-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    

}

.text-header h1{
    font-size: 80px;
    font-weight: 800;
    color: #fff;
}
.text-header h2{
    font-size: 40px;
    font-weight: 150;
    color: #fff;
}
.text-header h3{
    font-size: 15px;
    font-weight: 150;
    color: #fff;
}
.container-about-us{
    display: flex;
    justify-content: space-evenly;
}
.container-about-us{
    width: 100%;
    border-radius: 0%;
    box-shadow: 0 0 6px 0 rgba(0,0,0 0.5);
}
.about-us -content-text{
    width: 40;
}
.content-text h3{
    margin-bottom: 20px;
}
.content-text h3 span{
    background: #2b4251;
    color: #fff;
    width: 40ox;
    height: 40px;
    display: inline-block;
    border-radius: 80%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0 0.5);
    margin-right: 8 px;
}
.content-text p{
    padding: 0px 0px 30px 15px;
}
.markets{
    background-color: hsl(248deg 37% 42% / 20%);
}


.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards{
    background-color:cornsilk;
}
.gallery-market{
    width:30%;
    height: 200%;
    margin-bottom: 10 px;
}
.image-gallery{
    width: 100%;
    height: 100%;
}
footer{
    background-color: royalblue;
    padding: 10px 0 60px 10px;

}
.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-right: 80px;
    border-bottom: 3px solid #fff
}
.content-footer{
    text-align: center;
}

.content-footer h4{
    color: #fff;
    border-bottom: 3px solid #fff(134, 26, 26);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-footer p{
    color: #fff;
    font-weight: 300;
}

.final-title{ 
    text-align: center;
    font-size: 26px;
    margin: 26px 0 0 0;
    color: #fff:
}
    
